**/*.iml
**/.DS_Store
**/.classpath
**/.flattened-pom.xml
**/.idea
**/.mvn
**/.project
**/.scannerwork
**/.settings
**/.vscode
**/coverage
**/dist
**/docs
**/node_modules
**/target
**/.vs
**/*.swp
**/*.bak
